.flightPageContainer {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

.patchIcon {
  right: 2rem;
  bottom: 1rem;
  max-width: 300px;
  font-size: 46px;
}

.sss {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
